<div
  class="flex capitalize py-4 justify-end gap-1 items-start cursor-pointer"
  (click)="pageSwitch()"
>
  close <img src="assets/icons/cross-circle.svg" alt="" />
</div>
<div class="w-full p-4">
  <div class="grid grid-cols-12 gap-x-6 gap-y-5 w-full">
    <div
      class="col-span-12 sm:col-span-7 ring-1 ring-[#C1C7D0] bg-transparent rounded-sm"
    >
      <div
        class="bg-white w-full py-5 px-7 border-b-[1px] border-[#C1C7D0] rounded-tl-sm rounded-tr-sm"
      >
        <div class="flex items-baseline justify-between">
          <div>
            <h3 class="capitalize text-base tracking-widest font-medium">
              requisition detail
            </h3>
            <div
              class="text-[11px] font-bold w-fit leading-4 p-1 tracking-wider rounded-sm uppercase {{
                requisition?.status | statusColor
              }}"
            >
              {{ requisition?.status.replaceAll("_", "  ").trim() }}
            </div>
          </div>
          <div class="flex justify-end">
            <h4 class="w-3/4 text-right text-xs font-normal text-ash-600">
              Request Date:
              {{ requisition?.created_at | date : "d MMMM, y h:mm a " }}
            </h4>
          </div>
        </div>
        <div class="grid grid-cols-3 gap-x-6 gap-y-8 py-8">
          <div class="col-span-3 xl:col-span-1">
            <label class="block uppercase leading-6">reference number</label>
            <div class="mt-2">
              <input
                type="text"
                value="{{ requisition?.unique_id }}"
                readonly
                class="block w-full rounded-md border-0 py-1.5 px-2 text-ash-200 shadow-sm ring-1 ring-[#DFE1E6] placeholder:text-gray-400 focus:ring-1 outline-0 sm:text-sm sm:leading-6"
              />
            </div>
          </div>
          <div class="col-span-3 xl:col-span-1">
            <label class="block uppercase leading-6">requisition owner</label>
            <div class="mt-2">
              <input
                type="text"
                value="{{ requisition?.user?.first_name }} {{
                  requisition?.user?.last_name
                }}"
                readonly
                class="block w-full rounded-md capitalize border-0 py-1.5 px-2 text-ash-200 shadow-sm ring-[#DFE1E6] ring-1 placeholder:text-gray-400 focus:ring-1 outline-0 sm:text-sm sm:leading-6"
              />
            </div>
          </div>
          <div class="col-span-3 xl:col-span-1">
            <label class="block uppercase leading-6">department</label>
            <div class="mt-2">
              <input
                type="text"
                value="{{ requisition?.division?.abbreviation }}"
                readonly
                class="block w-full rounded-md uppercase border-0 py-1.5 px-2 text-ash-200 shadow-sm ring-1 ring-[#DFE1E6] placeholder:text-gray-400 focus:ring-1 outline-0 sm:text-sm sm:leading-6"
              />
            </div>
          </div>
          <div class="col-span-3 xl:col-span-1">
            <label for="city" class="block uppercase leading-">item</label>
            <div class="mt-2">
              <input
                type="text"
                value="{{ requisition?.item }}"
                readonly
                class="block w-full rounded-md border-0 capitalize py-1.5 px-2 text-ash-200 shadow-sm ring-1 ring-[#DFE1E6] placeholder:text-gray-400 focus:ring-1 outline-0 sm:text-sm sm:leading-6"
              />
            </div>
          </div>
          <div class="col-span-3 xl:col-span-1">
            <label class="block uppercase leading-">quantity required </label>
            <div class="mt-2">
              <input
                type="text"
                value="{{ requisition?.qty_required }}"
                readonly
                class="block w-full capitalize rounded-md border-0 py-1.5 px-2 text-ash-200 shadow-sm ring-1 ring-[#DFE1E6] placeholder:text-gray-400 focus:ring-1 outline-0 sm:text-sm sm:leading-6"
              />
            </div>
          </div>
          <div class="col-span-3 xl:col-span-1">
            <label class="block uppercase leading-">purpose</label>
            <div class="mt-2">
              <input
                type="text"
                value="{{
                  requisition?.purpose ? requisition?.purpose : 'nil'
                }}"
                readonly
                class="block w-full capitalize rounded-md border-0 py-1.5 px-2 text-ash-200 shadow-sm ring-1 ring-[#DFE1E6] placeholder:text-gray-400 focus:ring-1 outline-0 sm:text-sm sm:leading-6"
              />
            </div>
          </div>
        </div>
      </div>
      @if(requisition?.approved_name){

      <div
        class="bg-white w-full py-5 px-7 border-b-[1px] border-[#C1C7D0] rounded-tl-sm rounded-tr-sm"
      >
        <div class="flex items-baseline justify-between">
          <h3 class="capitalize text-base tracking-widest font-medium">
            approval
          </h3>
          <div class="flex justify-end">
            <h4 class="w-3/4 text-right text-xs font-normal text-ash-600">
              Approval Date:
              {{ requisition?.date_approved | date : "d MMMM, y h:mm a " }}
            </h4>
          </div>
        </div>
        <div class="grid grid-cols-3 gap-x-6 gap-y-8 py-8">
          <div class="col-span-3 xl:col-span-1">
            <label class="block uppercase leading-6">ict personnel</label>
            <div class="mt-2">
              <input
                type="text"
                value="{{ requisition?.approved_name?.first_name }} {{
                  requisition?.approved_name?.last_name
                }}"
                readonly
                class="block w-full rounded-md capitalize border-0 py-1.5 px-2 text-ash-200 shadow-sm ring-1 ring-[#DFE1E6] placeholder:text-gray-400 focus:ring-1 outline-0 sm:text-sm sm:leading-6"
              />
            </div>
          </div>
          <div class="col-span-3 xl:col-span-1">
            <label class="block uppercase leading-6">quantity approved</label>
            <div class="mt-2">
              <input
                type="text"
                value="{{ requisition?.qty_approved }}"
                readonly
                class="block w-full rounded-md border-0 py-1.5 px-2 text-ash-200 shadow-sm ring-[#DFE1E6] ring-1 placeholder:text-gray-400 focus:ring-1 outline-0 sm:text-sm sm:leading-6"
              />
            </div>
          </div>
          <div class="col-span-3 xl:col-span-1">
            <label class="block uppercase leading-6">comment</label>
            <div class="mt-2">
              <input
                type="text"
                value="{{ requisition?.comment }}"
                readonly
                class="block w-full capitalize rounded-md border-0 py-1.5 px-2 text-ash-200 shadow-sm ring-1 ring-[#DFE1E6] placeholder:text-gray-400 focus:ring-1 outline-0 sm:text-sm sm:leading-6"
              />
            </div>
          </div>
        </div>
      </div>
      } @if(requisition?.issuer_name){
      <div
        class="bg-white w-full py-5 px-7 border-b-[1px] border-[#C1C7D0] rounded-tl-sm rounded-tr-sm"
      >
        <div class="flex items-baseline justify-between">
          <h3 class="capitalize text-base tracking-widest font-medium">
            issued
          </h3>
          <div class="flex justify-end">
            <h4 class="w-3/4 text-right text-xs font-normal text-ash-600">
              Issued Date:
              {{ requisition?.date_issued | date : "d MMMM, y h:mm a " }}
            </h4>
          </div>
        </div>
        <div class="grid grid-cols-3 gap-x-6 gap-y-8 py-8">
          <div class="col-span-3 xl:col-span-1">
            <label class="block uppercase leading-6">store manager</label>
            <div class="mt-2">
              <input
                type="text"
                value="{{
                  requisition?.issuer_name.first_name +
                    ' ' +
                    requisition?.issuer_name.last_name
                }}"
                readonly
                class="block w-full capitalize rounded-md border-0 py-1.5 px-2 text-ash-200 shadow-sm ring-1 ring-[#DFE1E6] placeholder:text-gray-400 focus:ring-1 outline-0 sm:text-sm sm:leading-6"
              />
            </div>
          </div>
          <div class="col-span-3 xl:col-span-1">
            <label class="block uppercase leading-6">quantity issued</label>
            <div class="mt-2">
              <input
                type="text"
                value=" {{ requisition?.qty_issued }}"
                readonly
                class="block w-full rounded-md border-0 py-1.5 px-2 text-ash-200 shadow-sm ring-[#DFE1E6] ring-1 placeholder:text-gray-400 focus:ring-1 outline-0 sm:text-sm sm:leading-6"
              />
            </div>
          </div>
        </div>
      </div>
      }

      <div
        class="w-full flex items-center gap-2 bg-[#F4F5F7] justify-end py-3 pr-3"
      >
        <div
          class="text-xs tracking-widest font-normal cursor-pointer bg-red-600 uppercase rounded-sm p-2 text-white"
        >
          cancel request
        </div>
        <div
          class="text-xs tracking-widest font-normal cursor-pointer bg-yellow-600 uppercase rounded-sm p-2 text-white"
        >
          request this again
        </div>
      </div>
    </div>

    @if (user()?.membership_type !=='staff') {
    <div class="col-span-12 sm:col-span-5">
      @if(!requisition?.approved_by && user()?.membership_type=='ict'){
      <form [formGroup]="ictForm" (ngSubmit)="ictReview(requisition.unique_id)">
        <legend class="capitalize tracking-widest text-md font-medium pb-8">
          approve requisition
        </legend>
        <div class="grid grid-cols-2 gap-x-6 gap-y-8">
          <div class="col-span-2">
            <label class="block capitalize leading-6">quantity approved</label>
            <div class="mt-2">
              <input
                type="text"
                (keydown)="phoneKeyDown($event)"
                formControlName="qty_approved"
                class="block w-full rounded-md border-0 py-1.5 px-2 text-ash-200 shadow-sm ring-1 ring-[#DFE1E6] placeholder:text-gray-400 focus:ring-1 outline-0 sm:text-sm sm:leading-6"
              />
            </div>
          </div>

          <div class="col-span-2">
            <label class="block capitalize leading-6">comment</label>
            <div class="mt-2">
              <input
                type="text"
                formControlName="comment"
                class="block w-full rounded-md border-0 py-1.5 px-2 text-ash-200 shadow-sm ring-1 ring-[#DFE1E6] placeholder:text-gray-400 focus:ring-1 outline-0 sm:text-sm sm:leading-6"
              />
            </div>
          </div>

          <div class="col-span-2">
            <div class="flex justify-end mb-6">
              <button
                class="bg-green-700 rounded-md p-2 text-sm capitalize tracking-widest text-white"
                type="submit"
              >
                approve
              </button>
            </div>
          </div>
        </div>
      </form>
      } @if(requisition?.approved_name && !requisition.issued_by &&
      user()?.membership_type=='store'){
      <form
        [formGroup]="storeForm"
        (ngSubmit)="storeReview(requisition?.unique_id)"
      >
        <legend class="capitalize tracking-widest text-md font-medium pb-8">
          issue requisition
        </legend>
        <div class="grid grid-cols-2 gap-x-6 gap-y-8">
          <div class="col-span-2">
            <label class="block capitalize leading-6">quantity approved</label>
            <div class="mt-2">
              <input
                type="text"
                (keydown)="phoneKeyDown($event)"
                formControlName="qty_issued"
                class="block w-full rounded-md border-0 py-1.5 px-2 text-ash-200 shadow-sm ring-1 ring-[#DFE1E6] placeholder:text-gray-400 focus:ring-1 outline-0 sm:text-sm sm:leading-6"
              />
            </div>
          </div>

          <div class="col-span-2">
            <div class="flex justify-end mb-6">
              <button
                class="bg-green-700 rounded-md p-2 text-sm capitalize tracking-widest text-white"
                type="submit"
              >
                issue
              </button>
            </div>
          </div>
        </div>
      </form>
      }
    </div>
    }
  </div>
</div>
