<div class="w-full pb-3">
  <div class="grid xl:grid-cols-4 md:grid-cols-2 mb-4 gap-4 w-full">
    <div
      class="bg-white shadow-lg rounded-md space-y-3 h-auto py-4 pl-4 border"
    >
      <div class="flex items-center gap-2">
        <img src="assets/icons/reload.svg" alt="" />
        <div class="text-ash-400 font-normal capitalize">all requests</div>
      </div>
      <div class="text-ash-600 text-md">{{ all_request() }}</div>
    </div>
    <div
      class="bg-white shadow-lg rounded-md space-y-3 h-auto py-4 pl-4 border"
    >
      <div class="flex items-center gap-2">
        <img src="assets/icons/reload.svg" alt="" />
        <div class="text-ash-400 capitalize">ict pending</div>
      </div>
      <div class="text-ash-600 text-md">{{ ict_pending() }}</div>
    </div>
    <div
      class="bg-white shadow-lg rounded-md space-y-3 h-auto py-4 pl-4 border"
    >
      <div class="flex items-center gap-2">
        <img src="assets/icons/active.svg" alt="" />
        <div class="text-ash-400 capitalize">store pending</div>
      </div>
      <div class="figure text-ash-600 text-md">{{ store_pending() }}</div>
    </div>
    <div
      class="bg-white shadow-lg rounded-md space-y-3 h-auto py-4 pl-4 border"
    >
      <div class="flex items-center gap-2">
        <img src="assets/icons/timer.svg" alt="" />
        <div class="text-ash-400 capitalize">issued items</div>
      </div>
      <div class="figure text-ash-600 text-md">{{ issued() }}</div>
    </div>
  </div>
  <div class="p-4 rounded-md ring-1 ring-ash-200">
    <div class="chart">
      <!-- Chart wrapper -->
      <canvas id="myChart" class="chart-canvas w-full h-full"></canvas>
    </div>
  </div>
</div>
