@if(activePage===managePages.REQUESTS){
<div class="w-full overflow-x-auto px-5 pt-8" id="table">
  <table class="items-center bg-transparent w-full border-collapse">
    <thead>
      <tr>
        <th>staff</th>
        <th>department</th>
        <th>item</th>
        <th>qty required</th>
        <th>qty approved</th>
        <th>date approved</th>
        <th>status</th>
        <th>action</th>
      </tr>
    </thead>
    <tbody>
      @for (requisition of requisitions; track requisition) {
      <tr>
        <td>{{ requisition?.user?.first_name }}</td>
        <td>{{ requisition?.division?.abbreviation.toUpperCase() }}</td>
        <td>{{ requisition.item }}</td>
        <td>{{ requisition.qty_required }}</td>
        <td>{{ requisition.qty_approved }}</td>
        <td>
          {{
            requisition.date_approved
              ? (requisition.date_approved | timeago)
              : ""
          }}
        </td>

        <td>
          {{ requisition.status?.replaceAll("_", "    ").trim() }}
        </td>
        <td
          (click)="
            pageChangeHandler(managePages.VIEW_REQUEST); singleData(requisition)
          "
          class="flex items-center font-semibold view gap-1 align-middle cursor-pointer"
        >
          <img src="assets/icons/eye.svg" />
          view
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
@if(count<=0){
<div class="w-full h-[60vh]">
  <div class="error h-full justify-center items-center flex-col flex">
    <img src="assets/imgs/empty_state.svg" />
    <h5 class="pt-4 text-red-400 capitalize">no requisition found</h5>
  </div>
</div>
} } @if(activePage===managePages.VIEW_REQUEST){<app-single-requisition
  (page)="getEmit($event)"
  (data)="getData($event)"
  [active]="activeTab"
  [requisition]="requisition"
></app-single-requisition
>}
